body {
  background-image: url(https://image.ibb.co/mHHdOn/1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#java {
  display: none;
  max-width: 720px
}

#csharp {
  display: none;
  max-width: 720px
}

#design {
  display: none;
  max-width: 720px
}

#php {
  display: none;
  max-width: 720px
}

#ruby {
  display: none;
  max-width: 720px
}

#submit {
  cursor: pointer;
  color: #0088cc;
}

#submit:hover {
  text-decoration: underline;

}

h3 {
  max-width: 720px
}
