body {
  background-image: img/background1.jpg;
}

#java {
  display: none;
}

#csharp {
  display: none;
}

#design {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

#submit {
  cursor: pointer;
  color: #0088cc;
}

#submit:hover {
  text-decoration: underline;

}
